<mat-form-field>
  <div class="pepito">
    <input matInput placeholder="Enter city" #cityCtrl>
    <button mat-button (click)="addCity(cityCtrl)">ADD</button>
  </div>
</mat-form-field>

<div class="cards" *ngFor="let city of cities">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{city.name}}, {{city.sys.country}}</mat-card-title>
      <mat-card-subtitle>{{city.weather[0].main}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://openweathermap.org/img/wn/{{city.weather[0].icon}}@2x.png"
      [alt]="city.weather[0].main">
    <mat-card-content>
      <h1>{{city.main.temp | number:'1.0-0'}} &#8451;</h1>
      <p>Pressure: {{city.main.pressure}} hPa</p>
      <p>Humidity: {{city.main.humidity}} %</p>
      <p>Wind: {{city.wind.speed}} m/s</p>
      <button mat-button (click)="removeCity(city)">X</button>
    </mat-card-content>
  </mat-card>
</div>