:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 25px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    gap: 4px;
}

mat-form-field {
    width: auto;
}

.pepito {
    display: flex;
    width: auto;
}

mat-icon {
    cursor: pointer;
}

mat-card {
    margin-top: 30px;
    width: 250px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}