:root {
    --blue-1: #3C429E;
    --blue-2: rgb(170, 172, 204);
    --yello2-1: #FAC742;
    --white-1: #fff;
    --grey-1: #EDEDED;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(255, 255, 255, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 100vh;
    background-color: var(--blue-1);

    display: flex;
    justify-content: center;
}